<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form id='radio-form' method="POST" action="http://www.surya.website/validateUser">
        <select name="validate">
            <option value="yes">Yes</option>
            <option value="no">No</option>
        </select>
        <label style="display: none" for="mkid" >Unique-Id</label>
        <input  style="display: none" type="text" name="jwt" id="mkid" value=<%= mkid %> />
        <button type="submit">Submit</button>
    </form>
    <script>
        
        let elements = ['yes','no']
        let form = document.getElementById('radio-form');
        console.log(form)
        elements.forEach(ele=>{
            document.getElementById(ele).addEventListener('click',function(){
            form.submit();
        })
        })
       
    </script>
</body>
</html>