<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>OTP</title>
</head>

<body onload="loaded()">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="alert alert-danger" role="alert" id="w" hidden>
          A simple danger alert—check it out!
        </div>
        <form  action="#" method="POST">
          <div class="form-group">
            <label for="otp">OTP</label>
            <input type="text" class="form-control" id="otp" name="otp">
           
          </div>
          
          <button  id="s" type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
          </form>
          </div>
      </div>
    </div>

  </div>
</body>
<script>
  var OTP;
  function loaded(){
  let number='<%-phonenumber%>'
  let loc='<%-location%>'
  let options = {
            method: 'POST',
            headers: {
                'Content-Type':
                    'application/json;charset=utf-8'
            },
            body: JSON.stringify({phonenumber:number,location:loc})
        }
  let fetchRes = fetch("/genotp",options);
        fetchRes.then(res =>
            res.json())
            .then(d => {
              console.log(d)
                 OTP=d.otp
            })
          }

  document.getElementById("s").addEventListener('click',function(event){
    event.preventDefault()
    console.log(OTP)
    if(document.getElementById("otp").value===OTP){
     
      return true
    }
    else{
      const myTimeout = setTimeout(myGreeting, 5000);
      document.getElementById("w").hidden=true
    }
  })
  function myGreeting(){
    document.getElementById("w").hidden=false
  }

</script>
</html>